<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Startseite - Prämie Pro</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet"/>
    <link href="assets/css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="container form-container">
    <div class="row mb-3">
        <div class="d-grid col-md-6">
            <a class="btn btn-secondary btn-lg" href="/dashboard">Startseite</a>
        </div>
        <div class="d-grid col-md-6">
            <a class="btn btn-secondary btn-lg" href="/dashboard/users">Kunden</a>
        </div>
    </div>

    <h1 class="text-center">Kunde</h1>

    <table class="table table-bordered table-striped mt-3" id="user" th:if="${user != null}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Vor- und Nachname</th>
            <th>E-Mail</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td><button th:attr="onclick=|deleteUser('${user.id}', '${user.name}')|">Löschen</button></td>
        </tr>
        </tbody>
    </table>

    <div id="noUser" th:if="${user == null}">
        <p class="alert alert-info mt-4 text-center">Der Kunde ist nicht gefunden!</p>
    </div>

    <div class="col" th:if="${user != null}">
        <div class="mb-3">
            <label for="yearlyDrive" class="form-label">Jährliche Kilometerleistung:</label>
            <input type="number" id="yearlyDrive" class="form-control" placeholder="z.B. 15000" required/>
        </div>

        <div class="mb-3">
            <label for="vehicleType" class="form-label">Fahrzeugtyp:</label>
            <select id="vehicleType" class="form-select">
                <option th:each="vehicleType : ${vehicleTypes}"
                        th:value="${vehicleType.name()}"
                        th:text="${vehicleType.translate()}">
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label for="zipcode" class="form-label">Postleitzahl:</label>
            <input type="text" id="zipcode" class="form-control" placeholder="z.B. 10115" required/>
        </div>

        <div class="d-grid">
            <button class="btn btn-primary btn-lg" th:attr="onclick=|calculate('${user.id}')|">Versicherung bestellen</button>
        </div>
    </div>

    <h3 class="mt-4" th:if="${user != null}">Bestellungen des Kunden</h3>

    <table class="table table-bordered table-striped mt-3" id="orders" th:if="${user != null}">
        <thead>
        <tr>
            <th>Bestell-ID</th>
            <th>Fahrzeugtyp</th>
            <th>Kilometerleistung</th>
            <th>PLZ</th>
            <th>Jährliche Prämie (€)</th>
            <th>Datum</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.vehicleType}"></td>
            <td th:text="${order.yearlyDrive} + ' KM'"></td>
            <td th:text="${order.zipcode}"></td>
            <td th:text="${order.yearlyPrice} + ' EUR'"></td>
            <td th:text="${order.date}"></td>
        </tr>
        </tbody>
    </table>

    <div id="noOrders" th:if="${user != null and (orders == null or orders.isEmpty())}">
        <p class="alert alert-info mt-4 text-center">Es gibt noch keine Bestellungen!</p>
    </div>

    <div class="d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-danger" onclick="signout()">Abmelden</button>
    </div>
</div>

<script src="assets/js/swal.js"></script>
<script src="assets/js/utils.js"></script>
<script src="assets/js/users.js"></script>
</body>
</html>
